<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="/prijzen.html" />
            </rewriteMaps>
            <rules>
                <rule name="Rewrite rule1 for /prijzen.html">
                    <match url=".*" />
                    <conditions>
                        <add input="{/prijzen.html:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Rewrite" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
